#voyages {
  #hero_banner {
    background-color: $primary;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $primary;
      font-size: 34px;
      line-height: 42px;
      font-family: "Indie Flower", sans-serif;
    }

    h1 {
      color: #fff;
      font-size: 70px;
      font-weight: 600;
      line-height: 78px;
      font-family: "Poppins", sans-serif;
    }
  }

  #travel_search {
    margin-top: -75px;

    .travel_search_form {
      padding: 32px;
      border-radius: 20px;
      box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);

      background-color: #fff;
      background-image: url(../../public/images/lines-2.png);
      background-position: center;
      background-repeat: no-repeat;

      font-family: "Poppins", sans-serif;
      font-size: 16px;

      .col-4 {
        .label-title {
          font-family: "Indie Flower", sans-serif;
          color: $primary;
        }
        .form-control {
          background-color: #f2f2f2;
        }
        .dropdown-menu {
          border-radius: 15px;
          box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);
          margin-top: 7px;
          padding: 16px 0;
          width: 100%;
          border: none;

          .hasNoResults {
            display: block;
            padding: 10px;
            color: #aaa;
          }

          .dropdown-item {
            padding: 8px 16px;

            &:hover {
              color: #fff;
              background-color: #ffa84c;
            }
          }
        }

        .open > .dropdown-menu,
        .show > .dropdown-menu {
          display: block;
        }

        button[type="submit"] {
          background-color: $primary;
          border-radius: 10px;
          color: #fff;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #travel_list {
    padding: 64px 0;

    h2 {
      color: #000;
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      font-family: "Poppins", sans-serif;
      margin-bottom: 32px;
    }

    .card {
      overflow: hidden;
      border: 0;
      border-radius: 15px;
      text-decoration: none;
      box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.1);

      .img-container {
        position: relative;

        .price {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 100px;
          background-color: $primary;
          color: #fff;
          position: absolute;
          right: 0;
          bottom: 0;

          .price-num {
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
          }

          .ttc {
            font-size: 13px;
            font-weight: 300;
          }
        }
      }

      h3{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 700;

      }
    }
  }
}
